tlg/
.venv
elm-stuff
db.sqlite3
public/elm.js
elm-stuff
.idea/
.ipynb_checkpoints

server/.stack-work
.stack-work/
__pycache__/
fulltexts/
public/index.html
node_modules
lsj_perseus.cex
.DS_Store
canonical-greekLit/
diorisis.zip
diorisis/
/server/dist-newstyle/
/canonical-greekLit/
/.zig-cache/
/.cloudflared/
