tlg/
.venv
elm-stuff
db.sqlite3
elm-stuff
.idea/
.ipynb_checkpoints

server/.stack-work
.stack-work/
__pycache__/
fulltexts/
node_modules
lsj_perseus.cex
.DS_Store
canonical-greekLit/
diorisis.zip
diorisis/
/server/dist-newstyle/
/canonical-greekLit/
/.zig-cache/
/cloudflared/
/text-rec/data/
/canonical-greekLit/
